{% extends 'main.html' %}
{% block titleB %}Register page{% endblock %}
{% block contentB %}
<br><br>

<div class="container">

    
    <br /><br />
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <h1>Add topic</h1>
                    <h5>this topic will appear in previous page</h5>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">post</button>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var name = "{{ user.id }}";
    document.getElementById("elder").value
         = name;


</script>

<br><br><br>
{% endblock %}