{% extends 'main.html' %}
{% block titleB %}Room{% endblock %}
{% block contentB %}
<br><br>
<!-- L section -->
<section class="p-5">
    <div class="container">
        <div class="row">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Java Course</h5>
                  <p class="card-text">This is the java course.</p>
                </div>
                <div class="card-body">
                  <a href="https://www.youtube.com/watch?v=eIrMbAQSU34" class="card-link">join Now</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Python Course</h5>
                  <p class="card-text">This is the python course</p>
                </div>
                <div class="card-body">
                  <a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc" class="card-link">join Now</a>
                </div>
              </div>
              
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">HTML Course</h5>
                  <p class="card-text">This is the html course</p>
                </div>
                <ul class="list-group list-group-flush">
                <div class="card-body">
                  <a href="https://www.youtube.com/watch?v=kUMe1FH4CHE" class="card-link">join now</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">course To add</h5>
                  <p class="card-text">This course will be add in the future</p>
                </div>

                <div class="card-body">
                  <a href="#" class="card-link">###</a>
                </div>
              </div>


              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">course To add</h5>
                  <p class="card-text">This course will be add in the future</p>
                </div>

                <div class="card-body">
                  <a href="#" class="card-link">###</a>
                </div>
              </div>

        </div>
    </div>
</section>


<br><br>
{% endblock %}